name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: |
        cd services/api
        go build -v ./cmd/vinyl_catalog/main.go

    - name: Test
      run: |
        cd services/api
        go test -v ./cmd/vinyl_catalog/*
